.extra {
  font-size: 60%;
  padding-left: 10px;
}

.challenge {
  font-size: 50%;
  display: inline-block;
  margin-bottom: 0px;
  margin-left: 8px;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.rungName {
  cursor: pointer
}

.rungName:hover {
  border-bottom: 0.5pt solid black;
}

.selected {
  font-weight: bold;
}