.loginGrid {
  margin: 15px;
  position: relative;
}

.loginGrid input {
  border: 1pt solid gray;
  max-width: 100%;
}

.loginButtonContainer {
  width: 200px;
  text-align: right;
}

@media only screen and (max-width: 700px) {
  .loginButtonContainer {
    width: 100%;
  }
}