.scrollContainer {
  height: 100%;
}

.oneColumn {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas:
    "body";
  grid-template-rows: auto;
  grid-template-columns: 100%;
  font-size: 18px;
}

.body {
  grid-area: body;
  overflow-y: scroll;
  overflow-x: clip;
  -webkit-overflow-scrolling: touch;
}

@media only screen and (max-width: 600px) {
  .body {
    overflow-y: initial;
  }

  .scrollContainer {
    overflow-y: scroll;
    overflow-x: clip;
    -webkit-overflow-scrolling: touch;
  }
}

/* phone landscape */
@media only screen and (orientation: landscape) and (max-width: 700px) {
  .header1, .header2 {
    font-size: 50px;
  }
  
  .twoColumns {
    grid-template-rows: 80px auto;
    font-size: 40px;
  }
}